body 	{
 	background-image: url("mountains.jpg");
	background-repeat: repeat-x;
	background-repeat: repeat-y;
	}

#header-1 {
  	text-align: center;
  	font-weight: bold;
  	font-size: 200%;
	}

a	{
	text-decoration: none;
	}

a:hover {
  	text-decoration: underline;
	}

p::first-letter {
  		font-size: 1.5em;
		}
li { 
    color: red;
   }
li:nth-child(odd) {
	color: purple;
	}